*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header_image{
    background-color: #ffff;
    padding-top: 5px;
    height: 80px;
    display: flex;
}

.search-input{
    display:flex;
    padding-top: 20px;
    margin-left: 50px;
    height: fit-content;

}
.fs-stxt{
    height: 38px;
    width: 50%;
    padding-left: 15px; 
    box-sizing: border-box;
    border-width: 1px;
    border-color: #0097D7;
    border-radius: 20px 0px 0px 20px;
}

.fs-stxt:focus{
    outline: none;

}
.fs-search{
    float: left;
    /* width: 100%; */

}

#header_image .fs-search .search-btn{
    background-color: #0097D7;
    height: 38px;
    width: 58px;
    left: 0;
    text-align: center ;
    border-radius: 0 20px 20px 0;
    border-width: 0px;
    
}
.ti-search{
    position:relative;
    top: 5px;
    color: aliceblue;
}
#sub-header{
    height: 36px;
    background-color:#0097D7 ;
}
/* #nav{   
    display: inline-block;
    align-items: center;
    position: relative;
}
#nav li a{
   color: aliceblue;
    text-decoration: none;
    line-height: 36px;
    padding: 0 24px;
    display: block;
    
}
#nav >li >a{
    color: #fff;
    text-transform: uppercase;
}
#nav li{
    position: relative;
}
#nav >li{
    display: inline-block;
}
ul {
    list-style-type: none;

} */
body {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    background: #f8f9fa;
    overflow-anchor: none;
}

.news-h1 {
    padding: 10px 0 17px;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    color: #555;
    text-transform: uppercase;
}
.card-news{
    flex-direction: row !important;
    padding: 20px;
}
.news-top__left {
    -ms-flex-preferred-size: 490px;
    flex-basis: 490px;
}
.news-top__right {
    flex: 1;
    padding-left: 20px;
}
.news-top__item {
    height: 410px;
}
.news-top__item .news-top__item__tit, .news-top__item h3 a {
    font-size: 20px;
    line-height: 26px;
    max-height: 52px;
    overflow: hidden;
    display: block;
    margin-bottom: 3px;
}
.news-top__item__tit {
    font-weight: 700;
    color: #3d3d3d; 
    text-decoration: none;
}
.news-hor__item .news-hor__item__title {
    font-size: 15px;
    line-height: 19px;
    max-height: 60px;
    margin-bottom: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.news_top{
    padding: 0px 20px 20px 20px;
}
.news-hor__item {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 20px; 
}
.news-hor__item__img {
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    margin-right: 10px;
}
img{
    vertical-align: middle;
}

.news-section .col-9 {
    -ms-flex: 0 0 calc(75% - 10px);
    flex: 0 0 calc(75% - 10px);
    max-width: calc(75% - 10px);
}

.news-section .col-3 {
    -ms-flex: 0 0 calc(25% + 10px);
    flex: 0 0 calc(25% + 10px);
    max-width: calc(25% + 10px);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.news-main {
    margin-right: 20px;
}

.news-section {
    margin-bottom: 20px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

a, a:active, a:focus, a:hover {
    outline: none;
    text-decoration: none;
    color: #0168fa;
}

.news-hor__item__title, .news-hor__item__title:active, .news-hor__item__title:focus, .news-hor__item__title:hover {
    color: #3d3d3d;
}

.card-header:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.card-header {
    padding: 15px;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-title {
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    margin-bottom: 10px;
}
.news-hor__item__time>.fa-comments {
    margin-right: 3px;
}
.card-title {
    margin-bottom: 0;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}
.card-body {
    position: relative;
}
.card-body {
    flex: 1 1 auto;
    padding: 15px;
}

.news-mostView li:first-child span {
    background: #00AFC1;
}
.news-mostView li:not(:last-child) {
    margin-bottom: 24px;
}
.news-mostView li {
    display: -ms-flexbox;
    display: flex;
    color: #3d3d3d;
}
.news-mostView li span {
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #ced4da;
}
.news-mostView li h3 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    max-height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-top {
    padding: 17px 20px!important;
}

.p20 {
    padding: 20px;
}
.news__item:not(:last-child), .news__item:not(:nth-child(7)) {
    padding-bottom: 20px;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
}
.news__item {
    display: -ms-flexbox;
    display: flex;
}

.news__item__img {
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    margin-right: 30px;
}

.news__item h3 {
    font-size: 22px;
    line-height: 26px;
    max-height: 52px;
    font-weight: 700;
    overflow: hidden;
    margin-bottom: 8px;
}

.news__item__tit, .news__item__tit:active, .news__item__tit:focus, .news__item__tit:hover {
    color: #3d3d3d;
}

.news__item__text {
    font-size: 14px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: 400;
    overflow: hidden;
    margin-bottom: 15px;
    color: #555;
}

.new-product__item:not(:last-child) {
    margin-bottom: 20px;
}
.new-product__title {
    line-height: 18px;
    margin-bottom: 4px;
    margin-top: 3px;
    font-weight: 400;
    font-size: 16px;
    max-height: 36px;
    overflow: hidden;
    display: block;
    color: #3d3d3d;
}
.new-product__item__img {
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    margin-right: 10px;
    width: 80px;
    height: 80px;
}

.new-product, .new-product__item {
    display: -ms-flexbox;
    display: flex;
}
.new-product {
    -ms-flex-direction: column;
    flex-direction: column;
}
ul {
    list-style: none;
}

.promo__link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(#000));
    background-image: -o-linear-gradient(top,rgba(0,0,0,0),#000);
    background-image: linear-gradient(180deg,rgba(0,0,0,0),#000);
}
.promo__item:not(:last-child) {
    margin-bottom: 12px;
}

.promo__title {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 0 15px;
    font-size: 15px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 0;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.promo__link {
    display: block;
    position: relative;
}