.fspdbox{
    margin-bottom: 30px;
}
.p-r-30{
    padding-right: 30px ;
}

.p-0{
    padding: 0;
}

.col-3{
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.cdt-filter__block{
    margin-bottom: 30px;
}

.cdt-filter__title{
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: #212529;
    margin-bottom: 21px;

}

.cdt-filter__block:first-child .filterBrand{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: -14px;
}

.cdt-filter__block:first-child .filterBrand>div{
    -webkit-box-flex: 1;

    flex: 1 50%;
    max-width: 50%;
}


.cdt-filter__checklist .checkbox{
    margin-bottom: 14px;
}

.checkbox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cdt-filter__checklist .checkbox>a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    color: #4d4d4d;
    cursor: pointer;
    width: 100%;
}

.cdt-filter__checklist .checkbox.active .fa-square{
    border: solid 1px #cb1c22;
    background-color: #cb1c22;
}

.cdt-filter__checklist .checkbox>a .fa-square{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: solid 1px #97a3b9;
    background-color: #fff;
    margin-right: 10px;
    position: relative;
}

.cdt-filter__block:first-child .filterBrand
.checkbox>a label{
    text-transform: none;

}

.cdt-filter__checklist .checkbox>a label{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 17px;
    /* text-transform: lowercase; */
}

.checkbox label{
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
}


.col-9{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    -webkit-box-shadow: 0 0 3px 0 #dee2e6;
    box-shadow: 0 0 3px 0 #dee2e6;
    border-radius: 6px;
}

.card:last-child .card-body{
    padding: 20px 0 10px;
}

.fplistpdbox{
    display: block;
    -webkit-animation: mfade-in .6s;
    animation: mfade-in .6s;
}

.p-b-30{
    padding-bottom: 30px;
}


.card-body{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
}

.p-r-15{
    padding-right: 15px;
}

.p-l-15{
    padding-left: 15px;
}

.cdt-normal{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.m-r-25{
    margin-bottom: 25px;
}

.cdt-list-tab{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cdt-list-tab span{
    font-size: 14px;
    line-height: 14px;
    color: #555;
    margin-right: 20px;
    display: inline-block;
}

.btn-group{
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

.cdt-list-tab .btn-group ul{
    display: inline-flex;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
}

.cdt-list-tab .btn-group ul li.active a{
    border: solid 1px #cb1c22;
    background-color: #cb1c22;
    color: #fff;
}

.cdt-list-tab .btn-group ul li:not(:last-child) a{
    border-radius: 0;
    margin-left: -1px;
}

.cdt-list-tab .btn-group ul li:first-child a{
    border-top-left-radius: 4px!important;
    border-bottom-left-radius: 4px!important;
}

.cdt-list-tab .btn-group ul li a{
    color: #8392a5;
    border: solid 1px #ced4da;
    cursor: pointer;
}

.cdt-list-tab .btn{
    padding: 7px 12px;
}

.btn-group .btn:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group .btn{
    margin-left: 0;
}


.btn{
    display: inline-block;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 14px;
}

.btn-outline-secondary{
    color: #99a2aa;
    border: 1px solid #99a2aa;
}


.cdt-grid-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cdt-dropdown{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 15px;
}

.cdt-dropdown-button{
    display: inline-block;
    border: solid 1px #ced4da;
    border-radius: 4px;
    padding: 6px 25px 6px 8px;
    font-size: 14px;
    line-height: 16px;
    background-color: #fff;
    cursor: pointer;
    white-space: nowrap;
    min-width: 118px;
}

.cdt-dropdown-button:hover .cdt-dropdown-menu{
    opacity: 1;

}

.cdt-dropdown-button:before {
    top: 30%;
    border-bottom: 6px solid #1b202f;
    content: "";
    position: absolute;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.cdt-dropdown-button:after {
    top: 65%;
    border-top: 6px solid #1b202f;
    content: "";
    position: absolute;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.cdt-dropdown-menu{
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    -webkit-box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
    z-index: 11;
    
}

.cdt-dropdown-menu li.active{
    font-weight: 700;
    background-color: #a1a1a11c;
}

.cdt-dropdown-menu li{
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
}


.cdt-grid-list span:not(:last-child){
    margin-right: 20px;
}

.cdt-grid-list span.active{
    color: #cb1c22;
}

.cdt-grid-list span{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 20px;
    color: #a1a1a1;
}

.cdt-product-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    height: 100%;
}

.m-b-20{
    margin-bottom: 20px;
}

.cdt-product.product-sale{
    padding: 12px;
}

.cdt-product{
    flex-basis: 33.33%;
    width: 33.33%;
    height: 100%;
    padding: 15px 15px 10px;
    position: relative;
    height: 100%;
    

}

.cdt-product:hover .cdt-product__img{
    transform: scale(1.1);
}


.cdt-product.product-sale .cdt-product__img{
    margin: auto auto 16px;
    background-size: 100% 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
}

.cdt-product__img{
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    height: var(--height-img);
    
    transition: all .3s;
    
}

.cdt-product.product-sale .cdt-product__img a {
    display: inline-block;
    width: 100%;
    padding-top: 214px;
}

.cdt-product.product-sale .cdt-product__img img {
    max-height: 168px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-45%);
    -ms-transform: translate(-50%,-45%);
    transform: translate(-50%,-45%);
}

.cdt-product__img img {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

.cdt-product.product-sale .cdt-product__label {
    bottom: 14px;
}

.cdt-product__label {
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cdt-product.product-sale .cdt-product__label span {
    border-radius: 0 6px 6px 0;
}

.cdt-product__label span:not(:last-child) {
    margin-bottom: 5px;
}

.cdt-product__label span {
    font-size: 13px;
    padding: 0 8px;
    line-height: 24px;
    border-radius: 6px;
    display: inline-block;
}

.badge-warning {
    color: #fff;
    background: #ea9d02;
}

.badge {
    display: inline-block;
    padding: 3px 6px;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
}

h3{
    line-height: 3.3rem;
    font-size: 2.4rem;
    font-family: inherit;
    font-weight: 700;
    color: inherit;
}

.prd-lap .cdt-product__info h3 a {
    white-space: unset;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
}

.cdt-product__name {
    font-size: 17px;
    font-weight: 700;
    line-height: normal;
    color: #474c51;
    margin-bottom: 10px;
    position: relative;
    z-index: 10;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-word;
}

.cdt-product__show-promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cdt-product__show-promo .progress {
    -ms-flex-preferred-size: 130px;
    flex-basis: 130px;
    width: 130px;
    height: 28px;
    border-radius: 15px;
    background-color: #ef8573;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    z-index: 1;
    color: #fff;
}

.card:last-child .card-body .cdt-product-wrapper .cdt-product__show-promo .strike-price {
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    color: #a7a7b1;
}

.cdt-product__show-promo .strike-price {
    text-align: right;
    position: relative;
}

.cdt-product__show-promo .progress-bar {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    background: #cb1c22;
}

.cdt-product__show-promo .strike-price strike {
    font-size: 14px;
    line-height: 15px;
    color: #919191;
    display: block;
}

.cdt-product__config {
    background: #f8f9fa;
    padding: 9px 10px 0;
    border-radius: 6px;
    position: relative;
}

.cdt-product__config__param span:not(:last-child) {
    margin-right: 10px;
}

.cdt-product__config__param span {
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    color: #6c757d;
    margin-bottom: 9px;
    position: relative;
    cursor: help;
}

.cdt-product__config__param span i {
    margin-right: 5px;
    font-size: 14px;
    color: #b6bfc7;
}

.cdt-product__img-promo {
    position: relative;
    padding-bottom: 40px;
}

.cdt-product__img-promo span:not(:last-child) {
    margin-right: 10px;
}

.cdt-product__img-promo span {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5px;
}

.cdt-product__img-promo span img {
    width: 100%;
    vertical-align: top;
}

.cdt-product__text-promo {
    position: absolute;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.31;
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.cdt-product:hover  .cdt-product__btn{
    opacity: 1;
}


.cdt-product__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    
    /* position: relative; */
    /* visibility: collapse; */
    bottom: -35px;
    left: 0;
    padding: 0 15px;
    width: 100%;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    z-index: 1;
}

.cdt-product__btn .btn-main {
    width: 160px;
    margin-right: 10px;
}

.cdt-product__btn .btn-sub {
    width: 100px;
    font-weight: 500;
}

.cdt-product__btn .btn {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
}

.btn-sm {
    padding: 10px 16px;
    font-size: 13px;
    line-height: 13px;
}

.btn-primary {
    color: #fff;
    background: #cb1c22;
    outline: 0;
}


/* LOADMORE */

.cdt-product--loadmore {
    display: block;
    margin-bottom: 20px;
    padding-top: 50px;
    text-align: center;
}

.cdt-product--loadmore a {
    padding: 11px 32px;
}

.btn-light {
    color: #8392a5;
}

.btn-light {
    color: #fff;
    background: #e9ecef;
    outline: 0;
}